
.scroll-light::-webkit-scrollbar {
    width: 8px;
}

.scroll-light::-webkit-scrollbar-track {
    background: #f3f4f6;
}

.scroll-light::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 4px;
}

.scroll-light {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 #f3f4f6;
}

.sidebar-collapsed {
    width: 4rem !important;
    overflow: hidden;  
}

.sidebar-collapsed .nav-text,
.sidebar-collapsed .title {
    display: none;
    
}

.sidebar-collapsed .sidebar-link {
  justify-content: center;
  padding-left: 0;
}

#sidebar {
  background-color: #393f4c;
  border-radius: 0  rem;
  height: 100%;
  width: 15%;
  margin: auto;
  font-family:'Times New Roman', Times, serif
}

.sidebar-link {
  font-family: 'times new roman', Times, sans-serif;
  color: #ffffff;
  font-size: 15px;
}

.menu-toggle-row{
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 12px;
}

.menu-text {
  font-family: 'times new roman', Times, sans-serif;
  color: #ffffff;
  font-size: 16px;
}

.sidebar-collapsed .menu-toggle-row {
  padding-left: 0 !important;
  justify-content: center !important;
}

.sidebar-collapsed .menu-text {
  display: none;
}

header {
  background-color: #c8cacc;
  color: #000000;
  padding: 10px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#toggleBtn:focus {
  outline: none;
  box-shadow: none;
}

.card-1 {
  background-color: #c8cacc;

}

.card-2 {
  background-color: #c8cacc;
}

.card-3 {
  background-color: #c8cacc;
}

.card-4 {
  background-color:#c8cacc;
} 