.scroll-light::-webkit-scrollbar {
    width: 8px;
    }

.scroll-light::-webkit-scrollbar-track {
    background: #f3f4f6;
    }

.scroll-light::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 4px;
    }

.scroll-light {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 #f3f4f6;
    }

.sidebar-collapsed {
    width: 4rem !important;
    overflow: hidden;  
}

.sidebar-collapsed .nav-text,
.sidebar-collapsed .title {
    display: none;
}

.sidebar-link {
  justify-content: flex-start;
  padding-left: 1rem;
}

.sidebar-collapsed .sidebar-link {
  justify-content: center;
  padding-left: 0;
}

#sidebar {
  background-color: bg-gray-200;
  border-radius: 0  rem;
  height: 100%;
  width: 15%;
  margin: auto;
}

.sidebar-collapsed .menu-toggle-row {
  padding-left: 0 !important;
  justify-content: center !important;
}

.sidebar-collapsed .menu-text {
  display: none;
}

.typewriter {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: .14em solid transparent;
  max-width: 0;
  animation: typing 1s steps(20, end) forwards, blink-caret .75s step-end 2;
  position: relative;
}

/*.typewriter::after {
  content: '';
  position: absolute;
  right: 0;
  width: .14em;
  height: 100%;
  background: red;
  animation: blink-caret .75s step-end 2;
  animation-fill-mode: fowards;
}*/

@keyframes typing {
  from { max-width: 0; }
  to { max-width: 100vw; }
}

@keyframes blink-caret {
  0%, 100% { border-color: transparent; }
  50% { border-color: rgb(0, 0, 0); }
}