.scroll-light::-webkit-scrollbar {
    width: 8px;
    }

.scroll-light::-webkit-scrollbar-track {
    background: #f3f4f6;
    }

.scroll-light::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 4px;
    }

.scroll-light {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 #f3f4f6;
    }

.sidebar-collapsed {
    width: 4rem !important;
    overflow: hidden;  
}

.sidebar-collapsed .nav-text,
.sidebar-collapsed .title {
    display: none;
}

.sidebar-link {
  justify-content: flex-start;
  padding-left: 1rem;
}

.sidebar-collapsed .sidebar-link {
  justify-content: center;
  padding-left: 0;
}

#sidebar {
  background-color: bg-gray-200;
  border-radius: 0  rem;
  height: 100%;
  width: 15%;
  margin: auto;
}

.sidebar-collapsed .menu-toggle-row {
  padding-left: 0 !important;
  justify-content: center !important;
}

.sidebar-collapsed .menu-text {
  display: none;
}